.search-box {
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25%;
    margin: auto;
}

.search-box-results {
    margin: 20px;
    width: 50%;
}

.card-wrapper {
    display: inline-block;
    margin: 15px;
    width: 45%;
    text-align: center;
}